<form action = "/bet" method="post">
  <p>You have <%= @bankroll %> dollars.</p>
  <label>How much would you like to bet?</label>
  <input type="number" min=1 max=<%= @bankroll %> name="bet">

  <button type="submit">Bet!</button>
</form>