<p>The goal of Twenty-One is to beat the dealer's hand without going over 21, or 'busting'.</p>
<p>Each player is dealt two cards, face up.</p>
<p>The dealer is also dealt two cards, but one of them is face down.</p>
<p>On each player's turn, they can choose to take another card ('hit') or end their turn ('stand').</p>
<p>On the dealer's turn, the dealer must hit until reaching a score of 17 or higher.</p>
<br>
<!-- Add form -->
<form action = "/players" method="post">
  <label>What's your name?</label>
  <input type="text" name="name">
  <label>How many players will be joining you at the table? (1-7)</label>
  <input type="number" min=0 max=7 name="players">

  <button type="submit">Let's Play!</button>
</form>